body {
    background-color: aquamarine;
}
h1 {
    background-color: coral;
    text-align: center;
}
button{background-color: cadetblue}

/* This is the main layout of the page */
.page-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* This is the left half section of the page */
.page-content {
    width: 50%;
}

#chatSection {
    width: 100%;      /* Adjust the width as needed */
    min-width: 100px;
    padding: 50px;
    transition: margin-left .5s;
    padding: 20px;
    margin-right: 300px;
}

/* This is the actual chat box */
.chat-messages {
    border: 1px solid #ccc;
    height: 400px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

/* This is the actual chat text box with increased width and padding */
#chat-text-box {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
}

.like-button,
.dislike-button {
    font-size: 10px;
    padding: 4px 8px;
}

/* The side navigation menu */
.sidenav {
    height: 95%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #c6aeae; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 35px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover{

    color: white;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidenav::-webkit-scrollbar {
      display: none;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
  }

  @media (max-width: 800px) {

    #chatSection {
        width: 100%;
        min-width: 100px;
        transition: margin-left .5s;
        padding: 20px;
        margin-right: 0px;
    }
  }
  .home-link {
      display: block;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 20px;
      font-size: 18px;
      color: #818181;
      text-decoration: none;
  }

  .home-link:hover {
      text-decoration: underline;
  }