body {
    background: PaleTurquoise;
    font-family: monospace;
}
h1 {
    background-color: MintCream;
    text-align: center;
}
button{background-color: MintCream;}


.page-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.page-content {
    width: 50%;

}


#chatSection {
    width: 50%;
    min-width: 200px;
}


.chat-messages {
    border: 1px solid #ccc;
    height: 400px;
    margin-bottom: 10px;
    overflow-y: scroll;
}


#chat-text-box {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
}


/* If the screen is less than 800px wide, change the layout to a column layout */
@media (max-width: 800px) {
    .page-layout {
        flex-direction: column;
    }

    .page-content,
    #chatSection {
        width: 100%;
        min-width: 0;
    }
}

.like-button,
.dislike-button {
    font-size: 10px;
    padding: 4px 8px;
    background-color: transparent;
    box-shadow: inset 1px 1px 2px #ffffff, inset -1px -1px 2px #b3b3b3;
}

.user {
    background-color: MintCream;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.user span {
    font-family: monospace;
}

