body {
    font-family: Arial, sans-serif;
    background-color: #D0D0D0;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
}

.main-content {
    padding: 20px;
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}