
<!DOCTYPE html>
<html>
<head>
    <title>Tester Page</title>
</head>
<body>
Tester Page
</body>
<h1>WELCOME</h1>
<div class="image_div">
    <img src="/images/download.jpg" alt="ME rn" class="my_image"/>
</div>
<div class="welcome-div">
    <p id="paragraph">
        Welcome to the app testing pageeeeeeee
    </p>
</div>
</div>

<body>
<script src="/app.js" defer></script>

<button id = "button" onclick=handle_button()>Click Me!</button>

<h2 id = "presentHeader">Hi :) </h2>
</body>





</html>