<!DOCTYPE html>
<html>
<head>
    <title>Tester Page</title>
</head>
<body>
    <h1>WELCOME</h1>
    <div class="image_div">
        <img src="/images/download.jpg" alt="ME rn" class="my_image"/>
    </div>
    <!-- Registration Form -->
    <form id="registrationForm" action="/register" method="POST">
        <h2>Register</h2>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required minlength="8">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <button type="submit">Register</button>
    </form>

    <script src="/app.js" defer></script>
</body>
</html>
